<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>leave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="--ion-item-border-color:transparent">
    <ion-label class="heading">Leave Info</ion-label>
  </ion-item>
  <ion-item style="--ion-item-border-color: transparent;">
    <ion-label class="items">Select Date</ion-label>
  </ion-item>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" [isDateEnabled]="isSunday" presentation="date" displayFormat="DD/MM/YYYY" [min]="tomorrow" [showDefaultButtons]="true"
        locale="en-GB" (ionChange)="onDateChange($event)" [formatOptions]="{
          date: { 
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
          }
        }"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-item style="--ion-item-border-color: transparent;">
    <ion-label class="items">Select Reason</ion-label>
  </ion-item>
  <ion-item>
    <ion-input class="reason" label="Reason" label-placement="floating" fill="outline" placeholder="Enter text"
      [(ngModel)]="reason"></ion-input>
  </ion-item>

  <ion-button class="btn" (click)="handleSave()">
    save
  </ion-button>
 
</ion-content>