<ion-content class="container">
  <ion-img src="../../../assets/img/otp.png" class="img" alt="Description of the image"></ion-img>
  <ion-label class="verification">Enter the OTP</ion-label>
  <p class="para">Please enter the verification code sent to your mobile number or email address</p>
  <div class="otp-wrapper">
    <ion-row class="otp-row">
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[0]"
          (keyup)="otpController($event, 0)"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[1]"
          (keyup)="otpController($event, 1)"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[2]"
          (keyup)="otpController($event, 2)"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[3]"
          (keyup)="otpController($event, 3)"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[4]"
          (keyup)="otpController($event, 4)"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input class="otp-input" type="tel" required maxlength="1" [(ngModel)]="OTP[5]"
          (keyup)="otpController($event, 5)"></ion-input>
      </ion-col>
    </ion-row>
  </div>
  <div class="btnContainer" lines="none">
    <ion-button class="btn" expand="block" (click)="handleVerify()">Verify</ion-button>
  </div>

</ion-content>