ion-content {
  --background: rgb(182, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.otp-wrapper {
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  width: 100%;

  ion-input.x {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    margin: 0 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }

  ion-col {
    display: flex;
    justify-content: space-between;
  }

  ion-button{
        padding: 30px;
  }

  ion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 200px;
    width: 350px;
    border-radius: 20px;
  }

}










// ion-content {
//     --padding-top:240px;
//     --padding-start:20px;
//     --padding-end:20px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     background-color: #f7f9fc;
//   }
  
//   ion-row {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
//   ion-col {
//     display: flex;
//     justify-content: space-between;
//   }
  
//   ion-input.x {
//     width: 40px;
//     height: 40px;
//     text-align: center;
//     font-size: 24px;
//     margin: 0 8px;
//     border: 2px solid #ccc;
//     border-radius: 8px;
//     background-color: #fff;
//   }
  
//   ion-input.x:focus {
//     border-color: #3880ff;
//     box-shadow: 0 0 0 2px rgba(56, 128, 255, 0.25);
//   }
  
//   ion-button {
//     display: block;
//     margin-top: 20px;
//     width: 350px;
//     height: 50px;
//     font-size: 18px;
//     border-radius: 25px;
//     background-color: #3880ff;
//     color: #fff;
//     text-transform: uppercase;
//   }
  
//   ion-button:hover {
//     background-color: #3171e0;
//   }
  