<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Approve Leave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content *ngIf="data && data.length; else noData">
    <ion-card *ngFor="let item of data; let i = index">
      <ion-card-header>
        <ion-card-subtitle><span class="span">Name :</span> {{ item.Name }}</ion-card-subtitle>
        <ion-card-subtitle><span class="span">Leave Date :</span> {{ item.LeaveDate }}</ion-card-subtitle>
        <ion-card-subtitle><span class="span">Reason :</span> {{ item.LeaveReason }}</ion-card-subtitle>
      </ion-card-header>
      <ion-button fill="clear" (click)="handleReject(item.Phone, item.LeaveDate)">Reject</ion-button>
      <ion-button fill="clear" (click)="handleApprove(item.Phone, item.LeaveDate)">Approve</ion-button>
    </ion-card>
  </ion-content>
  <ng-template #noData>
    <ion-label class="no-data">
     <ion-item lines="none">Data Not Available</ion-item> 
    </ion-label>
  </ng-template>
</ion-content>